In [1]:
# importing libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import scipy as sc

In [2]:
data= pd.read_csv('Downloads\Sales_add.csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [16]:
data.shape

(22, 5)

In [17]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [20]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

The data has been analysed above descriptively and has been checked for null values.The data consists of 22 rows and 5 columns.

# 1.To check whether there is any increase in sales after stepping into digital marketing

In [4]:
#Hypothesis
#H0(null hypothesis) : There is an  increase in sales after stepping into digital marketing
#H1(alernate hypothesis) : There is no increase in sales after stepping into digital marketing
without_ad = data['Sales_before_digital_add(in $)']
with_ad = data['Sales_After_digital_add(in $)']

In [5]:
#since sample size is less than 30 and we want to check whether there is an increase in sales one tailed t test is being used
tvalue, pvalue = stats.ttest_ind(without_ad,with_ad)
stats.ttest_ind(without_ad,with_ad)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [6]:
tcriteria=stats.t.ppf(1-0.05,40)

In [7]:
stats.t.ppf(1-0.05,40)

1.68385101138658

In [18]:
if (tvalue>tcriteria and pvalue <0.05):
    print('(Null Hypothesis) Reject H0: there is increase in sales after stepping into digital marketing')
else:
    print('(Alternate Hypothesis) Reject H1: there is no increase in sales after stepping into digital marketing')

(Alternate Hypothesis) Reject H1: there is no increase in sales after stepping into digital marketing

Alternate hypothesis H1 is rejected (We weren't able to reject Null hypothesis H0). So the hypothesis states that, there can be an increase in sales after stepping into digital marketing.

# 2. Checking whether there is any dependency between the features “Region” and “Manager"

In [ ]:
# Hypothesis
# H0(Null Hypothesis): Region and Manager features are independent
# H1(ALternate Hypothesis):Region and Manager features are dependent

In [9]:
data1=data.groupby('Region')['Manager'].value_counts().unstack()

In [10]:
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [ ]:
#Chi square test can be used here as it is a test between categorical variables

In [11]:
chivalue,pvalue,dof,expvalues=stats.chi2_contingency(data1)

In [22]:
print('Chi sqaure Test Statistic is',chivalue)
print('Pvalue of test data is',pvalue)
print('Degrees of Freedom is',dof)
print('Expected observations of data are',expvalues)

Chi sqaure Test Statistic is 3.050566893424036
Pvalue of test data is 0.5493991051158094
Degrees of Freedom is 4
Expected observations of data are [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [23]:
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [19]:
if(chivalue>chicriteria and pvalue<0.05):
    print('Reject H0(Null Hypothesis): Region and Manager features are independent')
else:
    print('Reject H1(ALternate Hypothesis):Region and Manager features are dependent')

Reject H1(ALternate Hypothesis):Region and Manager features are dependent


In the Chi square test of independece we failed to reject the Null hypothesis(H0), so according to the hypothesis the features “Region” and “Manager" are independent of each other